// général
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: rgb(67, 136, 214);
  --white: rgba(255, 255, 255, 0.834);
  --grey: rgba(32, 32, 32, 0.603);
}

body {
  color: var(--white);
  background: black;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  scroll-behavior: smooth;
}

main {
  font-weight: 200;
}

a {
  text-decoration: none;
  color: var(--white);
}

section {
  margin-bottom: 100px;
}

// header
.titlenav {
  margin-bottom: 50px;
}

h1 {
  font-size: 40px;

  font-variant: normal;
  color: var(--primary);
}

h1,
header h2 {
  text-align: center;
  font-weight: 300;
}
header h2 {
  margin-bottom: 30px;
}
h2,
h3 {
  font-weight: 500;
}

header h2 {
  color: rgba(255, 255, 255, 0.567);
}

nav {
  height: 70px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s ease-in-out;

  ul {
    display: flex;
    justify-content: center;
    gap: 5vw;
    list-style: none;

    li {
      cursor: pointer;
      position: relative;

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background: var(--white);
        transition: width 0.2s ease-in-out;
      }

      &:hover::after {
        width: 100%;
      }
    }
  }
}

.nav-scrolled {
  background-color: white;
  color: black;
  padding: 30px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 7;
  border-radius: 0 0 5px 5px;

  ul li {
    color: black;

    &::after {
      background: black;
    }
  }
}

.anchor {
  display: block;
  height: 40px;
  margin-top: -100px;
}

.socialmedia {
  color: var(--primary);
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 30px;

  i {
    background: var(--grey);
    color: var(--primary);
    padding: 25px;
    font-size: 1.5rem;
    border-radius: 100px;
    transition: 0.2s ease-in-out;

    &:hover {
      background: var(--primary);
      color: black;
    }
  }

  &:nth-child(3) {
    padding: 15px 40px;
  }
}

.mylogo img {
  height: 200px;
  position: absolute;
  top: 50px;
  right: 160px;
  color: var(--white);
}

.container {
  background: var(--grey);
  padding: 40px;
  margin: 20px;
}

// présentation
.presentation {
  h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    color: white;
  }

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    p {
      text-align: center;
      padding: 20px 100px;
    }
  }
}

// compétences
.skills {
  h3 {
    font-size: 2rem;
  }
  .icon {
    border-radius: 200px;
    height: 80px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: rgba(233, 233, 233, 0.137);
    transition: 0.2s ease-in-out;

    &:hover {
      background: rgba(83, 83, 83, 0.61);
    }
    img {
      height: 50px;
    }
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
  }
}

.skills-container {
  overflow-x: hidden;
}

.skills-subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 30vw;
  padding: 40px;
}

.devSkills,
.toolSkills {
  width: 70%;
  max-width: 1200px;
  margin: 20px auto;
  text-align: center;
}

.icons-skills {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

// portfolio
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  text-align: center;
  background: var(--grey);
  padding: 80px 0px;
  margin: 20px;

  h2 {
    font-size: 2rem;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  position: relative;
  padding: 10px;
  transition: 0.2s ease-in-out;

  img {
    height: 200px;
    filter: brightness(90%);
    transition: 0.2s ease-in-out;
    border-radius: 10px;
  }

  .project-description {
    position: absolute;
    top: 100px;
    left: 0;
    color: var(--white);
    padding: 0 10px;
    display: none;
    z-index: 5;
    cursor: pointer;
    font-size: 15px;
  }
}

.widthImg {
  width: 350px;
}

.seemore {
  cursor: pointer;
  color: var(--white);
  border: 1px solid var(--primary);
  padding: 10px;

  width: 140px;
  border-radius: 30px;
  transition: 0.2s ease-in-out;

  &:hover {
    background-color: var(--primary);
    scale: 0.95;
  }
}

/* contact */

.contact {
  &-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 50px;
    text-align: center;
  }

  ul {
    list-style: none;
  }
}

.form-contact {
  width: 40vw;
  margin: 20px auto;
  padding: 40px;
  background-color: #f9f9f910;
  border-radius: 10px;

  font-family: "Arial", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-color: var(--primary);
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  outline: none;

  input[type="submit"] {
    padding: 10px 20px;
    background-color: var(--primary);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    transition: 0.2s ease;

    &:hover {
      scale: 1.2;
    }
  }
}

.input-container {
  margin-bottom: 20px;

  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #ffffff;
    text-align: center;
  }

  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: white;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, 0.144);

    &:focus {
      border-color: var(--primary);
      box-shadow: 0 0 5px rgb(255, 255, 255);
      outline: none;
    }
  }

  textarea:focus {
    border-color: #ffffff;
    box-shadow: 0 0 5px rgb(255, 255, 255);
    outline: none;
  }
}

.error {
  input {
    border: 1px solid rgb(156, 0, 0);
  }

  span {
    visibility: visible;
    color: rgb(156, 0, 0);
    font-size: 0.9rem;
    padding: 10px 0;
    text-align: left;
  }
}

form {
  span {
    font-size: 0.7rem;
    visibility: hidden;
    transition: 0.3s ease-in-out;
    color: rgb(156, 0, 0);
    text-align: left;
  }

  p {
    background: rgb(156, 0, 0);
    width: 33%;
    height: 3px;
    margin: -2px 0 2px;
    border-radius: 50px;
    visibility: hidden;
    transition: 0.3s;
  }
}

/* footer */

footer {
  background: black;
  padding: 60px 10vw 60px;

  .footerContainer {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-bottom: 20px;
  }

  h4 {
    margin-bottom: 30px;
    font-size: 1.7rem;
  }

  .footerDiv {
    max-width: 200px;

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: start;
      gap: 30px;
    }
  }

  ul li {
    cursor: pointer;
  }

  .aboutUs {
    h5,
    p {
      margin-bottom: 20px;
    }
  }

  .informations p {
    font-size: 0.9rem;
  }
}

/* responsive */

@media screen and (max-width: 1310px) {
  .container .skills-container {
    flex-wrap: wrap;
  }

  .skills-subcontainer {
    width: 75%;
    margin: 0 auto;
    text-align: center;
  }
}

@media screen and (max-width: 900px) {
  p {
    padding: 0;
  }
  .presentation-container p {
    padding: 20px 0;
    text-align: center;
  }

  .skills-subcontainer {
    width: 95%;

    .icon {
      border-radius: 100px;
      height: 50px;
      width: 50px;

      img {
        height: 30px;
      }
    }
  }

  .form-contact {
    min-width: 300px;
  }

  .footerDiv {
    font-size: 0.8rem;
  }

  .informations {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .skills-subcontainer {
    padding: 10px;
  }

  .project img {
    height: 180px;
  }

  .form-contact {
    max-width: 250px;
    padding: 40px 10px;
  }
}

//test popup
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;

  &.show {
    opacity: 1;
    pointer-events: auto;
  }

  .popup-content {
    background: rgb(43, 43, 43);
    padding: 20px 25px;
    border-radius: 10px;
    width: 700px;

    position: relative;
    transform: scale(0.8);
    opacity: 0;
    transition: all 0.3s ease;

    h2 {
      margin-bottom: 20px;
    }
  }

  &.show .popup-content {
    transform: scale(1);
    opacity: 1;
  }
}

#popup-close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
